<%- include("partials/header.ejs") %>
<h1>About US</h1>
<br>
<br>

  <p>
   
    <h3>Team</h3>
  
    <strong>Leader</strong> Aditya
    <br>
    Aditya Tomar
    <br>
    Avni Sharma
    <br>
    Lalit Kumar
  </p>
  <%- include("partials/footer.ejs") %>