<%- include("partials/header.ejs") %>


  <h1>Home Page</h1>
  <br><br>
<div class="docs">
  <br><br>
  <h4 style="color: grey;">Select Document Type</h4>
  
  <form >
      <label for="document-type">Choose a document:</label>
      <select id="document-type" name="document-type" required>
          <option value="" disabled selected>Select document type</option>
          <option value="divorce">Divorce Certificate</option>
          <option value="birth-certificate">Birth Certificate</option>
          <option value="death-certificate">Death Certificate</option>
          <option value="driving-license">Driving License</option>
          <option value="passport">Passport</option>
          <option value="sale-agreement">Sale Agreement</option>
          <option value="property-deed">Property Deed</option>
          <option value="marriage-certificate">Marriage Certificate</option>
          <option value="aadhaar-card">Aadhaar Card</option>
          <option value="pan-card">PAN Card</option>
          <option value="ration-card">Ration Card</option>
          <option value="voter-id">Voter ID</option>
          <option value="income-certificate">Income Certificate</option>
          <option value="domicile-certificate">Domicile Certificate</option>
          <option value="caste-certificate">Caste Certificate</option>
          <option value="employment-certificate">Employment Certificate</option>
          <option value="other">Other Legal Documents</option>
      </select>
      <br><br>
      <button type="submit" style="background-color: #000; color: #fff; padding: 10px 20px; width: 100px;border: none; border-radius: 5px; cursor: pointer; font-size: 16px;" 
      onmouseover="this.style.backgroundColor='#333'" 
      onmouseout="this.style.backgroundColor='#000'">Submit</button>
  </form>
</div>

  <%- include("partials/footer.ejs") %>